*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
}
body{
    background-color: beige;
    
}
fieldset{
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 44px;
    margin-left: 75px;
    justify-items: center;
    justify-content: center;
}
